@media (max-width: 992px) {
    body {
        background-color: pink;
    }

    header {
        display:none;
    }

    .email-section {
        max-width: 20em;
    }
}

@media (max-width: 768px) {
    body {
        background-color: brown;
    }
}